__pycache__/
*.pyc
*.pyo
*.onnx
*.engine
.env
*.pt
*.pth
screw_images/
mounted_screw/
mounted_screw_dataset/
screw_dataset/
runs/*
!runs/detect/
runs/detect/*
!runs/detect/head_detect/
runs/detect/head_detect/*
!runs/detect/head_detect/weights/
runs/detect/head_detect/weights/*
!runs/detect/head_detect/weights/best.pt
camera_calibration/images/
camera_calibration/board_photo.jpg
camera_calibration/camera_calibration.json
vision_command.json